{% assign sorted_videos = site.videos | sort: "year" %}
{% assign first_year = sorted_videos.first.year %}
{% assign last_year = sorted_videos.last.year %}

<header class='site-header'>
  <p>
    <a href="{% link index.html %}" class='logo' title="{{ site.title }}">
      {{ site.title }}
    </a>
  </p>
  <p>{{ first_year }} - {{ last_year }}</p>
  <div class="user">
  </div>
  <div class="login">
    <a
      class="login-with-google-button"
      href="https://{{ site.auth_domain }}{{ site.login_path }}?identity_provider=Google"
    >
      <img src="{% link /assets/images/google-g_100.png %}" alt="Google" />
      Login with Google
    </a>
  </div>
</header>
