{% assign sorted_videos = site.videos | sort: "year" %}
{% assign first_year = sorted_videos.first.year %}
{% assign last_year = sorted_videos.last.year %}
<header class='site-header'>
  <p>
    <a href="{% link index.html %}" class='logo' title="{{ site.title }}">
      {{ site.title }}
    </a>
  </p>
  <p>{{ first_year }} - {{ last_year }}</p>
  <div class="user">
  </div>
  <!-- <userContext.Consumer> -->
  <!--   { -->
  <!--     user => user !== null && user.authorized -->
  <!--       ? <User user={user} /> -->
  <!--       : ( -->
  <!--         <> -->
  <!--           <LoginWithFacebookButton /> -->
  <!--           <LoginWithGoogleButton /> -->
  <!--         </> -->
  <!--         ) -->
  <!--   } -->
  <!-- </userContext.Consumer> -->
  <!-- <Link -->
  <!--   className="privacy" -->
  <!--   to='/privacy/' -->
  <!--   style={{ -->
  <!--     textDecoration: 'none' -->
  <!--   }} -->
  <!-- > -->
  <!--   Privacy Policy -->
  <!-- </Link> -->
</header>
