@import 'variables';

.site-header {

  align-self: center;

  @media only screen and (min-width: 768px) {
    padding: 0 1rem;
    flex-grow: 0.4;
  }

  .logo {
    color: $metal;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .login-with-google-button {
    background: none;
    display: flex;
    align-items: center;
    color: $black;
    border: 1px solid $black;
    border-radius: 5px;
    padding: 0.25em 1em 0.25em 0.25em;
    font-size: 1rem;
    cursor: pointer;
    min-width: 75%;

    & > div {
      margin: 0 0.75em 0 0;
    }

    img {
      width: 25px;
      margin: 0 0.75em 0 0;
    }
  }
}
