@import '../styles/variables';

.site-header {

  align-self: center;

  @media only screen and (min-width: 768px) {
    padding: 0 1rem;
    flex-grow: 0.4;
  }

  .logo {
    color: $metal;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__login {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
}
