@import '../styles/variables';

.site-header {

  .logo {
    color: $white;
    font-family: 'Domine', serif;
    font-size: 1.8rem;
  }

  &__login {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 1.8rem;
  }
}
