@import '../styles/variables';

.unauth-message {
  color: $black;
  font-size: 1.6rem;
  padding: 2em;

  @media only screen and (min-width: 768px) {
    padding: 3em;
    font-size: 2rem;
  }

  &__small {
    font-size: 0.5em;
  }
}
