@import '../styles/variables';

// Fatter letters (typeface); possibly force name and "year n" to appear separate lines and style them differently

$thumb-width-1: 200px;

.video-list {
  margin: 0;
  padding: 10% 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .video {
    position: relative;
    padding: 0.5em;
    img {
      filter: grayscale(40%);
    }
    a {
      text-decoration: none;
    }
    &__name {
      position: absolute;
      top: 40%;
      text-align: center;
      color: $white;
      font-size: 2.8rem;
      text-shadow: 1px 1px 2px $metal;
      max-width: $thumb-width-1;
    }
  }
}
