---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | relative_url }}">
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
  </head>

  <body>

    <div class='site-layout'>

      {% include header.html %}

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

      {% comment %}
      {%- include footer.html -%}
      {% endcomment %}
    </div>

  </body>

</html>
